{% extends 'header_footer.html' %}


{% block main_content %}

  <main class="container mt-3">

    <!-- Hero -->
    <section class="my-5 jumbotron jumbotron-fluid" style="
    background: url('/static/main_drone2.jpg');
    background-position: center center;
    background-size: 100%;">
      <div class="text-center">
        <!-- TODO inset an image!!! -->
        <!-- <img class="ml-2" src="" alt="" width="401" height="33"> -->
        <h1 class="h2 mt-5 m-2">Всякая еда, чтобы кушать.</h1>
        <h2 class="h3">Прилетит к вам сама</h2>
        <p class="pt-4">Доставка дронами</p>
      </div>
    </section>

    <!-- Categories with 3 random dishes -->
    <section>
      {% for category, dishes in category_with_dishes.items() %}
        <h3 class="my-4">{{ category }}</h3>
        <div class="row mt-4">
          {% for dish in dishes %}
            <div class="col-12 col-md-4">
              <div class="card mb-3">
              
                <img src="{{ url_for("static", filename=dish.picture) }}" width="300" height="200" class="card-img-top" alt="">
                <div class="card-body">
                  <h4 class="h5 card-title">{{ dish.title }}</h4>
                  <p class="card-text">{{ dish.description }}</p>
                  <a href="{{url_for('view_blp.render_addtocart', dish_id=dish.id)}}" class="btn btn-danger">В корзину</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </section>
  </main>

{% endblock main_content %}