{% extends 'header_footer.html' %}


{% block main_content %}

  <main class="container">

    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        
        <!-- Register form -->
        <form action="{{ url_for('view_blp.render_register') }}" class="form-signin pt-5" method="POST" >
          {{ form.csrf_token }}
          <div class="text-center mt-5 b-1">
            <img class="mb-4" src="{{ url_for('static', filename='drone.jpg') }}" alt="" width="154" height="154">
            <h1 class="h3 mb-3 font-weight-normal">Stepik delivery</h1>
            <p class="h5 font-weight-light">Создайте аккаунт</p>
          </div>
          <div class="mt-5 form-label-group">
          <p class="text-muted"> Электронная почта</p>
            <!--{{ form.email.label(class="mb-1 mt-2 text-muted form-control-label") }}-->
            {% if form.email.errors %}
              {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.email(class="form-control") }}
            {% endif %}
          </div>
          <p></p>
          <div class="form-label-group">
          <p class="text-muted"> Пароль</p>
            {% if form.password.errors %}
              {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.password(class="form-control") }}
            {% endif %}
          </div>
          <br>
          <div class="checkbox mb-3">
            {{ form.submit(class_="btn btn-lg btn-danger btn-block") }}
          </div>
          <small class="text-muted ml-2">
            <a href="#" class="text-muted">Забыли пароль?</a>
          </small>
        </form>

      </div>
    </div>

  </main>

{% endblock main_content %}